[submodule "cublibx/libs/mlx"]
	path = cublibx/libs/mlx
	url = https://github.com/42paris/minilibx-linux.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git